<div class="pad-left-10">

  <table class="page-table" cellpading="0" data-dojo-attach-point="reviewTableG" style="margin-bottom: 10px;">
    <tbody data-dojo-attach-point="reviewTable">
      <tr class="bottom-border" data-dojo-attach-point="reviewRow">
        <td colspan="2">
          <span class="float-left pad-right-10 main-text" style="line-height:30px;">${nls.review.item}</span>
          <div data-dojo-attach-point="_duplicateFlag" class="float-right pad-bottom-10" style="min-width: 200px;"></div>
        </td>
      </tr>
    </tbody>
  </table>

  <table data-dojo-attach-point="featureTable" class="page-table display-none" cellpading="0">
    <tbody>
      <tr class="bottom-border task-instruction-row">
        <td class="pad-bottom-10">
          <div class="instruction" data-dojo-attach-point="pageHint" style="line-height:30px;"></div>
        </td>
        <td class="pad-bottom-10">
          <div data-dojo-attach-point="featureToolbar">

          </div>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <table class="page-table" cellpading="0">
            <tbody data-dojo-attach-point="featureControlTable"></tbody>
          </table>
        </td>
      </tr>

      <tr class="bottom-border task-instruction-row">
        <td class="pad-bottom-10" colspan="2">
          <div class="instruction" data-dojo-attach-point="locationHint" style="line-height:30px;">${nls.review.locationControlHint}</div>
        </td>
      </tr>

      <tr>
        <td colspan="2">
          <table class="page-table" cellpading="0">
            <tbody data-dojo-attach-point="locationControlTable"></tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>

