<div class="float-right">
  <table class="control-table" cellpading="0">
    <tbody>
      <tr class="feature-toolbar-row">
        <td nowrap class="pad-right-15" title="${nls.featureToolbar.edit}">
          <div style="display:flex;" data-dojo-attach-point="toggleEditButton"></div>
        </td>
        <td class="pad-right-15" title="${nls.featureToolbar.locate}">
          <div class="bg-ft-img bg-locate feature-toolbar-btn" data-dojo-attach-event="onclick:_locate">
          </div>
        </td>
        <td class="pad-right-15" title="${nls.featureToolbar.cancel}">
          <div class="bg-ft-img bg-cancel feature-toolbar-btn" data-dojo-attach-event="onclick:_cancel"></div>
        </td>
        <td title="${nls.featureToolbar.save}">
          <div class="float-right bg-ft-img bg-save feature-toolbar-btn" data-dojo-attach-event="onclick:_save"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>