<div class="float-right">
  <table data-dojo-attach-point="controlTable" class="control-table" cellpading="0">
    <tbody>
      <tr data-dojo-attach-point="controlTr" class="feature-toolbar-row">
        <td nowrap data-dojo-attach-point="backTd" class="pad-right-15" title="${nls.featureToolbar.edit}">
          <div class="float-left bg-ft-img bg-edit feature-toolbar-btn" data-dojo-attach-event="onclick:_toggleEdit"></div>
        </td>
        <td data-dojo-attach-point="homeTd" class="pad-right-15" title="${nls.featureToolbar.locate}">
          <div class="bg-ft-img bg-locate feature-toolbar-btn" data-dojo-attach-event="onclick:_locate">
          </div>
        </td>
        <td data-dojo-attach-point="nextTd" title="${nls.featureToolbar.save}">
          <div class="float-right bg-ft-img bg-save feature-toolbar-btn" data-dojo-attach-event="onclick:_save"></div>
        </td>
      </tr>
    </tbody>
  </table>
</div>