<div class="pad-left-10">

  <table class="page-table display-none" cellpading="0" data-dojo-attach-point="reviewTableG" style="margin-bottom: 10px;">
    <tbody data-dojo-attach-point="reviewTable">
      <tr class="bottom-border" data-dojo-attach-point="reviewRow">
        <td colspan="3">
          <span class="float-left main-text pad-left-10" style="line-height:30px;">${nls.review.item}</span>
          <div data-dojo-attach-point="_duplicateFlag" class="float-right pad-bottom-10" style="min-width: 200px; padding-bottom: 9px;"></div>
        </td>
      </tr>
    </tbody>
  </table>

  <table data-dojo-attach-point="featureTable" class="page-table display-none" cellpading="0">
    <colgroup>
      <col width="30%" />
      <col width="35%" />
      <col width="35%" />
    </colgroup>
    <tbody>
      <tr class="bottom-border task-instruction-row">
        <td class="pad-bottom-10">
          <div class="instruction" data-dojo-attach-point="pageHint" style="line-height:30px;"></div>
        </td>
        <td colspan="2" class="pad-bottom-10">
          <div data-dojo-attach-point="featureToolbar">

          </div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <table class="page-table" cellpading="0">
            <!--<colgroup>
              <col width="35%" />
              <col width="65%" />
            </colgroup>-->
            <tbody data-dojo-attach-point="featureControlTable"></tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="page-table display-none" cellpading="0" data-dojo-attach-point="locationSyncTable">
    <tbody>
      <tr class="bottom-border task-instruction-row">
        <td class="field-control-td">
          <div class="instruction" data-dojo-attach-point="locationHint">${nls.review.locationControlHint}</div>
        </td>
        <td class="field-control-td">
          <div class="float-right bg-ft-img bg-sync feature-toolbar-btn" data-dojo-attach-point="syncFields" title="${nls.review.sync}" data-dojo-attach-event="onclick:_syncAddressInfo"></div>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="page-table display-none" cellpading="0" data-dojo-attach-point="locationControlTable">
    <colgroup>
      <col width="35%" />
      <col width="65%" />
    </colgroup>
    <tbody>
    </tbody>
  </table>
</div>

